doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title SB Admin - Start Bootstrap Template

    include includes/css/core.pug

    // Page level plugin CSS
    link(href='vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')

    include includes/css/custom.pug

  body#page-top.fixed-nav.sticky-footer.bg-dark
    include includes/navbar.pug
    .content-wrapper
      .container-fluid
        // Icon Cards
        .row
            .card.text-white.bg-primary.o-hidden.h-100
              .card-body#lowLiquid
                .mr-5
                  | Low Liquid
        .row
            .card.text-white.bg-warning.o-hidden.h-100
              .card-body
                .mr-5
                  | Leaking Tank
        .row
            .card.text-white.bg-success.o-hidden.h-100
              .card-body
                .mr-5
                  | Low Battery
        .row
            .card.text-white.bg-danger.o-hidden.h-100
              .card-body
                .mr-5
                  | No Movement

      // /.container-fluid
      // /.content-wrapper

      include includes/footer.pug

      include includes/scroll-to-top.pug

      include includes/modals/logout.pug

      include includes/js/core.pug

      // Page level plugin JavaScript
      script(src='vendor/chart.js/Chart.min.js')
      script(src='vendor/datatables/jquery.dataTables.js')
      script(src='vendor/datatables/dataTables.bootstrap4.js')

      include includes/js/custom.pug
