#clear {
    background-color: white;
    width:200px;
    height:200px;
}

#blocked {
    background-color: black;
    width:200px;
    height:200px;
}

#table {
    background-color: blue;
    width:200px;
    height:200px;
}

#base {
    background-color: red;
    width:200px;
    height:200px;
}

#board{
	background-color: #5800fc;


}